build/
*.o
diskllm
diskllm_asan
diskllm_debug
gguf_dump
tensor_map
probe_model
bench_stream
test_dequant
test_kernels
test_attention
test_ssm
test_tokenizer
dump_ref_logits
test_crash
*.state
*.bin
*.gguf
scratch/
